{
  "extends": "google",
  "parser": "babel-eslint",
  "rules": {
    "semi": [2, "never"],
    "object-curly-spacing": [2, "always"],
    "comma-dangle": [2, "only-multiline"],
    "curly": [2, "multi-line"],
    "space-before-function-paren": [2, {"anonymous": "always", "named": "never"}]
  }
}
